In [1]:
import pandas as pd

In [2]:
df_feb = pd.read_csv('datasets/JC-202402-citibike-tripdata.csv')

In [3]:
df_feb['started_at'] = pd.to_datetime(df_feb['started_at'])

In [4]:
df_feb['started_at'].min()

Timestamp('2024-02-01 00:01:24')

In [5]:
df_mar = pd.read_csv('datasets/JC-202403-citibike-tripdata.csv')
df_apr = pd.read_csv('datasets/JC-202404-citibike-tripdata.csv')

In [6]:
df_mar['started_at'] = pd.to_datetime(df_mar['started_at'])
df_apr['started_at'] = pd.to_datetime(df_apr['started_at'])

In [7]:
df_mar['started_at'].min()

Timestamp('2024-03-01 00:01:39')

In [8]:
df_apr['started_at'].min()

Timestamp('2024-04-01 00:01:25')

In [9]:
df_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55613 entries, 0 to 55612
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             55613 non-null  object
 1   rideable_type       55613 non-null  object
 2   started_at          55613 non-null  datetime64[ns]
 3   ended_at            55613 non-null  object
 4   start_station_name  55607 non-null  object
 5   start_station_id    55607 non-null  object
 6   end_station_name    55484 non-null  object
 7   end_station_id      55484 non-null  object
 8   start_lat           55613 non-null  float64
 9   start_lng           55613 non-null  float64
 10  end_lat             55597 non-null  float64
 11  end_lng             55597 non-null  float64
 12  member_casual       55613 non-null  object
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 5.5+ MB

In [10]:
df_feb.columns == df_mar.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [11]:
df_feb.columns == df_apr.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [12]:
df = pd.concat([df_feb, df_mar, df_apr], axis=0, ignore_index=True)

In [13]:
df['started_at'].min()

Timestamp('2024-02-01 00:01:24')

In [14]:
df['started_at'].max()

Timestamp('2024-04-30 23:53:14')

In [15]:
df.columns == df_feb.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200310 entries, 0 to 200309
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             200310 non-null  object
 1   rideable_type       200310 non-null  object
 2   started_at          200310 non-null  datetime64[ns]
 3   ended_at            200310 non-null  object
 4   start_station_name  200211 non-null  object
 5   start_station_id    200211 non-null  object
 6   end_station_name    199756 non-null  object
 7   end_station_id      199727 non-null  object
 8   start_lat           200310 non-null  float64
 9   start_lng           200310 non-null  float64
 10  end_lat             200256 non-null  float64
 11  end_lng             200256 non-null  float64
 12  member_casual       200310 non-null  object
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 19.9+ MB

In [17]:
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200310 entries, 0 to 200309
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             200310 non-null  object
 1   rideable_type       200310 non-null  object
 2   started_at          200310 non-null  datetime64[ns]
 3   ended_at            200310 non-null  datetime64[ns]
 4   start_station_name  200211 non-null  object
 5   start_station_id    200211 non-null  object
 6   end_station_name    199756 non-null  object
 7   end_station_id      199727 non-null  object
 8   start_lat           200310 non-null  float64
 9   start_lng           200310 non-null  float64
 10  end_lat             200256 non-null  float64
 11  end_lng             200256 non-null  float64
 12  member_casual       200310 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 19.9+ MB

In [19]:
df.ride_id.duplicated().sum()

0

In [20]:
df['started_at_hr'] = df['started_at'].dt.hour

In [21]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_hr
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual,16
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual,15
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual,16
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member,17
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member,15

In [22]:
df.groupby('member_casual')['rideable_type'].value_counts().reset_index().groupby('member_casual')['count'].sum()

member_casual
casual     41601
member    158709
Name: count, dtype: int64

In [23]:
df.to_csv('datasets/transformed_data.csv', index=False)